  .table th, .table td {
    vertical-align: middle;
    font-size: 0.8em;
  }
  .derecha{
    text-align:right;
    padding-right:5px;
  }
  .centro{
    text-align:center;
  }
  .blockquote-footer {
    margin-top: 0rem !important;
    font-size:small;
  }